.jumbotron {
  padding-top: 7rem;
  background-color: #efe6f8;
}
#gallery {
  background-color: #efe6f8;
}
#contact {
  background-color: #efe6f8;
}
.foot {
  background-color: rgb(123, 47, 245);
}
section {
  padding-top: 5rem;
}
